pillow
simplejson
psycopg2
requests

django
django-suit
django_compressor
django-devserver
Django-Next-Please

# This can probably be soon changed to just sorl-thumbnail.
# Stable sorl gives depracation warnings with django 1.6
-e git+https://github.com/mariocesar/sorl-thumbnail#egg=sorl-thumbnail

# Paul needs to update the version on PyPi :(
-e git+https://github.com/chriscauley/Django-Crop-Override-Field.git#egg=django-crop-override-field
