<html>
<head>
</head>
<body>
<div id="tools" class="border-box"></div>
<div id="tools_bot"><div id="action_list"></div></div>
<div id="wrapper"><canvas id="paint"></canvas></div>
<link rel="stylesheet/less" type="text/less" href="style.less" />
<link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
<script>less = { env: 'development' };</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.2.0/less.min.js"></script>
<script src="js/lib.js"></script>
<script src="js/storage.js"></script>
<script src="js/dialogs.js"></script>
<script src="js/buttons.js"></script>
<script src="js/fill.js"></script>
<script src="js/paint.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet">
</body>
</html>
